@media (max-width: 850px) {
  h1 {
    font-size: 52px !important;
  }
}

h1 {
  font-family: "Playfair Display";
  font-size: 64px;
  text-align: center;
  margin: auto;
  color: #334a52;
}

.bio-container {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
}
