@media (max-width: 920px) {
  .images {
    height: 300px !important;
  }

  .box-container {
    padding: 0 !important;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .images {
    height: 200px !important;
  }
}

a {
  color: #000;
}

h1 {
  padding: 40px;
}

p {
  text-align: center;
  padding-top: 20px;
}

.category-titles {
  font-size: 32px;
  font-family: "Playfair Display";
  text-align: center;
  color: #000;
}

.category-description {
  font-family: "Work Sans";
  color: #000;
}

.placeholder {
  margin: 10px;
}

.images {
  height: 400px;
  border-radius: 3px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.box-container {
  padding: 20px;
}

.divider {
  width: 60%;
  display: block;
  margin: 0 auto;
}
