@media (max-width: 920px) {
  .category-page {
    max-width: 90%;
  }

  .title-divider {
    max-width: 60%;
  }
}

@media (max-width: 620px) {
  h1 {
    font-size: 30px !important;
  }
}

body {
  background: #e6f4f1;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.category-header {
  font-family: "Playfair Display";
  font-size: 64px;
  text-align: center;
}

.category-page {
  width: 975px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  background-color: rgb(150, 175, 184, 0.6);
  padding-top: 20px;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.title-divider {
  width: 700px;
  display: block;
  margin: 0 auto;
}
