a {
  color: #000;
}

.category-titles {
  font-size: 32px;
  font-family: "Playfair Display";
  text-align: center;
  color: #000;
}

.category-description {
  font-family: "Work Sans";
  color: #000;
}
