.bio-profile {
    width:25%;
    text-align:center;
}

.bio-name {
    font-family:'Playfair Display', serif;
    font-size:1.5em;
    color:#334A52;
    padding:0;
}

.bio-text {
    font-family:'Work Sans', sans-serif;
    font-size:1em;
    color:#707070;
    width:80%;
    padding:0;
    margin:auto;
}

.connect-btn {
    margin:1.5em;
    background-color:#C1895D;
    border:none;
    color:#FFFFFF;
    border-radius:10px;
    font-family:'Work Sans', sans-serif;
    padding:0.5em;
}