@media (max-width: 620px) {
  .bio-profile {
    width: 50% !important;
    margin-top: 30px !important;
  }

  .bio-image {
    width: 150px !important;
  }
}

.bio-image {
  width: 200px;
}

.bio-profile {
  width: 33%;
  margin-top: 80px;
}

.bio-name {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  color: #334a52;
  padding-top: 10px;
}

.bio-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  color: black;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
}

.connect {
  background-color: #c1895d;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
  padding: 0.5em;
  text-align: left;
  margin-left: 10px;
}

.about-text {
  text-align: left;
}
