.bio-profile {
  width: 25%;
  text-align: center;
}

.bio-name {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  color: #334a52;
  padding: 0;
}

.bio-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  color: #707070;
  width: 80%;
  padding: 0;
  margin: auto;
}

.connect-btn {
  margin: 1.5em;
  background-color: #c1895d;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  font-family: "Work Sans", sans-serif;
  padding: 0.5em;
}
