@media (max-width: 920px) {
  h3 {
    font-size: 72px !important;
  }

  .about-link {
    padding: 50px !important;
    margin-left: 5px !important;
  }

  .explore-link {
    padding: 50px !important;
    margin-right: 5px !important;
  }
}

@media (max-width: 750px) {
  .welcome {
    font-size: 20px !important;
  }

  h3 {
    font-size: 40px !important;
    padding-left: 0 !important;
    width: 100% !important;
    display: block;
    margin: 0 auto;
  }

  .divide {
    width: 350px !important;
  }

  .extra-links {
    flex-direction: column;
  }

  .explore-link {
    font-size: 24px !important;
    padding: 35px !important;
    margin-bottom: 20px !important;
  }

  .about-link {
    font-size: 24px !important;
    padding: 35px !important;
  }
}

body {
  text-align: center;
}

.welcome {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 20px;
  margin: 0 auto;
  color: #000;
}

h3 {
  font-size: 84px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 38px;
  font-family: "Playfair Display";
  text-align: center;
  background-color: rgb(51, 74, 82, 0.8);
  color: #c1895d;
  width: 100%;
  border-radius: 1px;
}

.divide {
  width: 60%;
  display: block;
  margin: 20px auto;
}

.extra-links {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  margin-top: 40px;
}

.explore-link {
  padding: 80px;
  background-color: rgb(150, 175, 184, 0.5);
  font-size: 32px;
  text-transform: capitalize;
  font-family: "Work Sans";
  transition: ease-out 800ms;
}

.explore-link:hover {
  font-size: 36px;
}

.about-link {
  padding: 80px;
  background-color: rgb(150, 175, 184, 0.5);
  font-size: 32px;
  text-transform: capitalize;
  font-family: "Work Sans";
  transition: ease-out 800ms;
}

.about-link:hover {
  font-size: 36px;
}
