.pose-info {
  font-size: 24px;
  font-family: "Work Sans";
  background-color: rgb(193, 137, 93, 0.3);
  width: 500px;
  display: block;
  margin: 30px auto;
  border-radius: 2px;
}

.pose-icon {
  height: 330px;
  padding-right: 200px;
}

.yoga-pose {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.sanskrit-pose {
  font-size: 32px;
  padding: 20px;
  font-family: "Work Sans";
  font-weight: bold;
}

.pose-name {
  font-size: 32px;
  padding: 20px;
  font-family: "Work Sans";
  font-weight: bold;
}
