p {
  font-size: 24px;
  font-family: "Playfair Display";
  font-weight: bold;
}

.sanskrit-pose {
  font-size: 40px;
  padding: 30px;
  font-weight: bold;
  font-family: "Work Sans";
}

.pose-name {
  font-size: 40px;
  padding: 30px;
  font-weight: bold;
  font-family: "Work Sans";
}
